<!-- your html code here -->

<div class="container mt-5 ">
    <div class=" p-3 rounded mb-4">
        <h1>Contact</h1>
    </div>
    <div class="p-3 rounded mb-4">
        Until the ullamcorper there is no fear of the author fringilla. This is always the gateway to success. It is a great opportunity to pursue a career or a career. A good deal of protein, terrain and running.
    </div>
    <!--forms-->

    <form class="form-horizontal col-9 mx-auto">

      <div class="row my-3">
        <div class="form-group d-flex">  
              <label class="form-label col-2" for="examplelFormControlInput1">Your E-mail</label> 
              <div class="col-10">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter email">
              </div>
        </div>
      </div>
         
      <div class="row my-3">
        <div class="form-group d-flex">
              <label class="form-label col-2" for="exampleFormControlTextarea1">Your message</label>
              <div class="col-10">       
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Please enter your message here..."></textarea>    
              </div>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button">Button</button>
      </div>
    </form>   
</div>
  