<!-- your html code here -->
<div class="container mt-5">
    <div class="bg-white p-3 rounded">
        <h1 class="mb-0">Project Overview</h1>
    </div>
    <div class="bg-white p-3 rounded mt-0">
        <h5 class="mb-0">For instance, on the planet Earth, man had always assumed that he was more intelligent than dolphins because he had achieved so much — the wheel, New York, wars and so on — whilst all the dolphins had ever done was muck about in the water having a good time. But conversely, the dolphins had always believed that they were far more intelligent than man — for precisely the same reasons. </h5>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
            <div class="card bg-white border-0">
                <img src="https://raw.githubusercontent.com/4GeeksAcademy/bcpt4-exercise-collaborative-html-website/refs/heads/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body border-0">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Far Out in the uncharted backwaters of the unfashionable end of the Western Spiral arm of the galaxy lies a small unregarded yellow sun.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-white border-0">
                <img src="https://raw.githubusercontent.com/4GeeksAcademy/bcpt4-exercise-collaborative-html-website/refs/heads/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body border-0">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">There is a theory which states that if ever anyone discovers exactly what the Universe is for and why it is here, it will instantly disappear and be replaced by something even more bizarre and inexplicable. There is another theory which states that this has already happened.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-white border-0">
                <img src="https://raw.githubusercontent.com/4GeeksAcademy/bcpt4-exercise-collaborative-html-website/refs/heads/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body border-0">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">“Space,” it says, “is big. Really big. You just won’t believe how vastly, hugely, mindbogglingly big it is. I mean, you may think it’s a long way down the road to the chemist’s, but that’s just peanuts to space.”</p>
                </div>
            </div>
        </div>
    </div>
</div>